# Data Science Tools and Ecosystem

In this notebook, Data Science Tolls and Ecosystem are summarized.

**Objectives:**
- Popular languages used in Data Science
- Commonly used libraries used by Data Scientists
- How to create arithmetic expressions in code cells

Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

|Data Science Tools|
|:-:|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ines Pereira